@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

:root {
    --background-clr:hsl(0, 0%, 8%);
    --primary-text-clr:hsl(0, 0%, 100%);
    --secondary-text-clr:hsl(75, 94%, 57%);
    --profile-card:hsl(0, 0%, 12%);
    --button-clr:hsl(0, 0%, 20%);
    --hover-clr:hsl(75, 94%, 57%);
    --hover-text-clr:hsl(0, 0%, 12%);
}

* {
    margin:0;
    padding:0;
    border:none;
    box-sizing: border-box;
}

body {
    background:var(--background-clr);
    font-family: "Inter", serif;
}

main {
    background: var(--profile-card);
    text-align:center;
}

img {
    border-radius: 100%;
}

h1{
    color:var(--primary-text-clr);
}

p {
    font-size: 14px;
    line-height: 2rem;
}

li {
    list-style: none;
}

button {
    color:var(--primary-text-clr);
    background:var(--button-clr);
    margin:5px;
    font-weight:700;
    height:50px;
    width:350px;
    border-radius:5px;
    border:none;
    transition: 0.3s ease, color 0.3s ease;
}

button:hover {
    color:var(--hover-text-clr);
    background:var(--hover-clr);
    cursor: pointer;
}

.location-details {
    color:var(--secondary-text-clr);
    font-weight:500;
}

.short-bio {
    color:var(--primary-text-clr)
}

.attribution {
    color:var(--primary-text-clr);
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    }